.pagination {
    display: inline-block;
}

/* ELEMENT */
body {
	font-family: sans-serif;
}
i {
	color: #0288d1;
}
footer {
	position: fixed;
    width: 100%;
    bottom: 0;
}

/* CLASSES */
.discret {
	color: #0288d1;
	line-height: 50px;
	font-size: 0.8em;
}

/* IDS */
#formSecret{
	padding: 10px 0 25px 0;
}
#formSecret input[type=submit] {
	background-color: #0288d1;
	color: white;
	border: none;
}
#formSecret input[type=submit]:hover {
	background-color: white;
	color: #0288d1;
	border: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}